<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form autocomplete="off">
        <mat-form-field>
            <input matInput color="primary" placeholder="Nome do produto" [value]="product.name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [value]="product.price" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Entrada em estoque" [value]="product.entryStock" disabled>
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>