<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de CRUD da lojinha do seu Zé.
    </mat-card-subtitle>
    <hr>
    <mat-card-content>
        <p>Desenvolvido por <i>Vinicius Padovam Valentim</i>.</p>
        <p>
            <a target="_blank" href="https://github.com/viniciuspadovam">Github</a><br>
            <a target="_blank" href="https://github.com/viniciuspadovam/CRUD-Spring-Angular">Repositório deste projeto</a><br>
            <a target="_blank" href="http://www.linkedin.com/in/viniciuspadovam">Linkedin</a>
        </p>
    </mat-card-content>
</mat-card>
